@page
@model LoginModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "BetterMe login";
}

<div class="row vh-100 betterme-bg">
    <div class="col-1 col-md-4">

    </div>
    <div class="col-10 col-md-4 align-self-center bg-white rounded p-3 shadow-lg">
        <div class="row justify-content-center p-3">
            <div class="col-10">
                <img src="/Images/BetterMe-logo.png" class="img-fluid" alt="BetterMe logo">
            </div>
        </div>
        <div class="row justify-content">
            <div class="col text-center fs-2 fw-bold">
                <p class="h2">Iniciar sesión</p>
            </div>
        </div>
        <div class="row justify-content-center p-3">
            <div class="col">
                <label for="emailInput" class="form-label">Correo</label>
                <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
            </div>
        </div>
        <div class="row justify-content-center p-3">
            <div class="col">
                <label for="passwordInput" class="form-label">Contraseña</label>
                <input type="password" id="passwordInput" class="form-control">
            </div>
        </div>
        <div class="row text-center justify-content-center p-3">
            <div class="col">
                <button type="button" class="btn btn-primary">Iniciar sesión</button>
            </div>
        </div>
        <div class="row text-center justify-content-center ">
            <div clase="col">
                <button type="button" class="btn btn-link" onclick="window.location.href='/UserInfo'">Crear cuenta</button>
            </div>
        </div>
    </div>
    <div class="col-1 col-md-4">
        
    </div>
</div>