<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" />
    <title>@ViewData["Title"] - betterme</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/betterme_web_gui.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid d-flex align-items-center">
            
            <button class="btn btn-success me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <i class="fa-solid fa-bars"></i>
            </button>

            <img src="/Images/BetterMe-logo.png" class="img-fluid me-4" style="max-height: 40px;" alt="BetterMe logo">

            <a href="/UserInfo" class="btn btn-outline-secondary">
                <i class="bi bi-person-circle"></i>
                Perfil
            </a>
        </div>
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menú</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-unstyled">
                <li><a href="/UserInfo" class="nav-link">Perfil</a></li>
                <li><a href="/Estatistics" class="nav-link">Estadísticas</a></li>
                <li><a href="/Rutinas" class="nav-link">Rutinas</a></li>
                <li><a href="/Progress" class="nav-link">Progreso</a></li>
                <li><a href="/ProfileVerification/VerificationRequest" class="nav-link">Solicitar verificación</a></li>
                <li><a href="/Logout" class="nav-link text-danger">Cerrar sesión</a></li>
            </ul>
        </div>
    </div>
    
    <div class="container-fluid">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>